/* eslint-disable */

import React from 'react';

const pxTransform = function (size) {
  return parseInt(size, 10) + 'rpx';
};
const IconFont = (props) => {
  const { name, size, color, style } = props;

  return <iconfont name={name} size={#rpx-1:parseFloat(pxTransform(size)):##rpx-0:size:#} color={color} style={style} />;
};

IconFont.defaultProps = {
  size: #size#,
};

export default IconFont;
